@model BookViewModel

@{
    ViewData["Title"] = "Delete Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="card-header mb-5">Delete Book</h3>

<p class="bg-danger mb-3 mt-3 p-2 text-white">Are you sure you want to delete the book "<strong>@Model.Title</strong>"?</p>

<div>
    <h4>Book details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Author</dt>
        <dd class="col-sm-9">@Model.Author</dd>

        <dt class="col-sm-3">Publisher</dt>
        <dd class="col-sm-9">@Model.Publisher</dd>

        <dt class="col-sm-3">Year</dt>
        <dd class="col-sm-9">@Model.Year</dd>

        <dt class="col-sm-3">Genre</dt>
        <dd class="col-sm-9">@Model.Genre</dd>

        <dt class="col-sm-3">Material Type</dt>
        <dd class="col-sm-9">@Model.MaterialType</dd>

        <dt class="col-sm-3">Faculty</dt>
        <dd class="col-sm-9">@Model.Falculty</dd>

        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">@Model.Department</dd>

        <dt class="col-sm-3">Quantity</dt>
        <dd class="col-sm-9">@Model.Quantity</dd>

        <dt class="col-sm-3">Date Created</dt>
        <dd class="col-sm-9">@Model.DateCreated</dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
